# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
*.swp
*.swo
.DS_Store
.env
.env.*

# Android
/android/app/debug
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/app/src/main/res/values/values.xml
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/settings.gradle
/android/settings.gradle.kts
/android/gradle.properties

# iOS
/ios/Flutter/.last_build_id
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Podfile.lock
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/flutter_export_environment.sh
/ios/.generated/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# Firebase
google-services.json
GoogleService-Info.plist